<div class="row animated fadeIn">
    <div class="col s1"></div>
    <div class="col s8">
        <h3 style="margin-left: 10%;">Courses archivées<a title="back" class="waves-effect waves-light btn"  onclick="navigate('historique')" style="margin-left: 10px;"><i class="material-icons">backspace</i></a></h3>
        <hr style="position: relative;left: 10%;opacity:0.3">
    </div>
</div>

<div class="container animated bounceIn" style="margin-right : 5%;">
    <div id="containerItemsArchived" class="row">
        <table id="tableAllItemsArchived" class="centered highlight collapsible responsive">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Quantité</th>
                <th scope="col">Libellé</th>
            </tr>
            </thead>
            <tbody id="tableBodyAllItemsArchived">
            </tbody>
        </table>
    </div>
</div>