<div class="row animated fadeIn">
    <div class="col s1"></div>
    <div class="col s8">
        <h3 style="margin-left: 10%;">Listes de courses archivées</h3>
        <hr style="position: relative;left: 10%;opacity:0.3">
    </div>
</div>

<div class="container animated bounceIn" style="margin-right : 5%;">
    <div id="container3" class="row">
            <table id="tableAllListsArchived" class="centered highlight collapsible responsive">
                <thead>
                <tr>
                    <th scope="col">Magasin</th>
                    <th scope="col">Date</th>
                    <th scope="col">Articles</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableBodyAllListsArchived">
                </tbody>
            </table>
    </div>
</div>